/* Nav bar */
body{
font-family: 'Ubuntu', sans-serif;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.9);
    border-color: rgba(255,255,255,.5);
}
.brand{
  font-size: 3.5rem;
  font-weight: 500;
  }

.navbar-dark .navbar-nav .nav-link {
      color: #fff;
  }
.nlink{
  font-size: 20px;
  font-weight: 500;
}
/* Home tab */
.imageContainer {
  background: url('image/food-wallpaper.png');
  background-size: cover;
  padding-bottom: 7%;
}
.mainText{
  text-align: center;
}

.logo{
  background-color: white;
  width: 130px;
  margin: auto;
  border-radius: 50%;
  font-weight: bold;
  font-size: 50px;
  color: #ff4301;
  text-align: center;
  padding:35px 0;
  font-family: 'Ubuntu', serif;

}

.heading{
  font-size: 30px;
  color: white;
}
.locationContainer{
  padding: 0 20%;
  margin: 20px 0;
}

.location{
  width: 250px;
  height: 40px;
  margin-right: 2%;
  text-align: center;
  border-radius: 5px;
}
.searchIcon{
  background-color: white;
  border: none;
  border-radius: 25px 0 0 25px;
  height: 38.5px;

}
.searchInput{
 border: none;
 border-radius: 0 25px 25px 0;
}


/* Quick search */

.QSContainer{
  margin:0 5% 2%;
}

.subHead{
  color: grey;
}
.QShead{
  color: #ff4301;
  margin-top: 10px;
}
.compHead{
  color: #e84a5f;
}
.QSCol{
  padding:15px;
}
.component{
  height: 120px;
  box-shadow: 0 4px 6px 2px grey;
  border-radius: 10px;
}

img{
  width: 100%;
  height:120px;
  border-radius: 10px ;
}

.QSimg{
  float: left;
  width: 45%;
  border-radius: 10px 0 0 10px;
}
.QStxt{
  float: left;
  width: 55%;
  padding-left: 8px;

}
h5{
  margin-top: 10px;
}
.txt{
  font-size: 12px;
  line-height: 1.5;
  letter-spacing:normal;
  color: grey;
}

/* Footer */
.footer{
  padding: 1%;
  text-align: center;
  font-size: 16px;
  background-color: #f9c49a;

}

.heart{
  color: red;
}
