*{
  font-family: 'Poppins', serif;
}

.matter{
  height: 957px;
}

#heading{
  color: #192f60;
  font-size: 30px;
  line-height: 46px;
  font-weight: 600;
}

/* Lines */
.react-tabs__tab--selected{
color: #192f60;
border:2px solid #cc0e74;
border-left: none;
border-right: none;
border-top: none;
}

.react-tabs__tab{
  color: #192f60;
  font-weight: bold;
  font-size: 20px;
  
}
 .react-tabs__tab:hover{
  color: #192f60;
  border:2px solid #cc0e74;
  border-left: none;
  border-right: none;
  border-top: none;
}

.overview{
  margin-top: 30px;
  font-weight: 600;
  color: #192f60;
}

.head{
  font-size: 18px;
  margin-left: 20px;
  margin-top: 44.4px;
  margin-bottom: 7px;
  font-weight: 400;
  color: #192f60;
  line-height: 25px;
  letter-spacing: normal;
}

.add{
  margin:34px 20px;
  line-height: 1.5;
}
.addName{
  height: 25px;
  margin-bottom: 0;
  font-weight: 600;
  color: #192f60;
}
.addTxt, .overTxt{
  margin-top: 20px;
  font-size: 16px;
  color: #636f88;
  width: 359px;
  
}

.order-buttons{
  margin: 10px;
}