*{
  font-family: 'Poppins', serif;
}

/* MainContainer */
.mainContainer {
 margin-top: 5%;
 margin-bottom: 5%;
}

.col-12{
  height: 450px;
}

.gallery{
  border-radius: 5px;
  opacity: 0.75;
  width: auto;
  margin-top: 350px;
}
.img_btn {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #192f60;
  margin-left: 70%;
}
.modalImage {
  border: none;
  width:800px ;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}
.car-img{
  height: 700px;
  width: 800px;
}