*{
  font-family: 'Poppins', serif;
}
.QSContainer{
  margin:0 5% 2%;
}

.subHead{
  color: grey;
}
.QShead{
  color: #192f60;
  margin-top: 10px;
  font-size: bolder;
}
.compHead{
  color: #192f60;
}
.QSCol{
  padding:15px;
}
.component{
  height: 120px;
  box-shadow: -4px 4px 6px 2px grey;
 
}

img{
  width: 100%;
  height:120px;
} 

.QSimg{
  float: left;
  width: 45%;
  border-radius: 10px 0 0 10px;
}
.QStxt{
  float: left;
  width: 55%;
  padding-left: 8px;

}
h5{
  margin-top: 10px;
}
.txt{
  font-size: 12px;
  line-height: 1.5;
  letter-spacing:normal;
  color: grey;
}